.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 448px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
